@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300;400;500;600;700&display=swap');

body{
  height: 100vh;
  background:linear-gradient(to bottom,#414141,#060606);
  font-family: 'Inria Sans', sans-serif;
}